* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background: #232D3F;
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 30px 0;
}

form {
    width: 40%;
    margin: 0 auto;
    padding: 20px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar input[type="text"], .search-bar input[type="submit"] {
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: #232D3F;
    margin-right: 10px;
}

.search-bar input[type="submit"], .sort button, a#back {
    cursor: pointer;
    background: #4633ae;
    color: #fff;
    transition: 0.3s ease-in-out;
}

.search-bar input[type="submit"] {
    text-transform: uppercase;
    font-weight: 600;
}

.search-bar input[type="submit"]:hover, .sort button:hover, a#back:hover {
    box-shadow: 0px 0px 14px 3px #4633ae;
}

.range-bar {
    margin: 15px 0;
}

#rangeValue {
    width: 20px;
    height: 20px;
    color: #fff;
    margin-left: 10px;
}

input[type="range"] {
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

.sort button {
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 0.9rem;
}

.sort button:not(:last-child) {
    margin-right: 15px;
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 30px auto 0;
}

.card {
    border-radius: 15px;
    width: 250px;
    height: 300px;
    margin-bottom: 35px;
    box-shadow: 0px 0px 14px 6px #4633ae;
}

.card:not(:last-child) {
    margin-right: 15px;
}

.img-container {
    width: 100%;
    height: 130px;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px 15px 5px 5px;
}

.content {
    padding: 5px 15px;
}

h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
    text-align: center;
    margin: 15px 0;
    color: #00D1B5;
}

h3 {
    font-size: 1rem;
}

p {
    margin: 5px 0;
}

a#back {
    display: block;
    text-decoration: none;
    margin: 0 auto;
    font-size: 2.5rem;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 150px;
}